* {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}
body,
html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0b2830;
}
body {
    background-image: url('../assets/web-bg.gif');
    background-size: cover;
    background-position: center;
}
canvas,
.canvas--scanlines {
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vmin;
    border: 1vmin solid #000033;
    background-color: #ccc;
    box-shadow: 0 0 5vmin 3vmin rgba(238, 233, 213, 0.75);
}
.canvas-ui {
    z-index: 100;
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle-button {
    display: inline-block;
}
.toggle-button__off {
    background-color: transparent;
    border: 2px solid #648892;
    margin-top: 4px;
}
.toggle-button__off:hover {
    background-color: rgba(100, 136, 146, 0.1);
    border-bottom-width: 2px;
}
.toggle-button__on:hover {
    transform: translateY(2px);
    border-bottom-width: 2px;
}
.toggle-button__on:active {
    border-bottom-width: 0;
    transform: translateY(4px);
}
.help-button {
    width: 5vmin;
    height: 5vmin;
    text-align: center;
    line-height: 5vmin;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 1vmin;
    top: auto;
    left: 1vmin;
    display: block;
}
.help-button:hover {
    border-bottom-width: 2px;
}
.help-button:active {
    border-bottom-width: 0;
}
.help-close {
    position: absolute;
    top: 5vmin;
}
.help-close:hover {
    transform: translateY(4px);
}
.restart-button {
    width: 5vmin;
    height: 5vmin;
    text-align: center;
    line-height: 5vmin;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 1vmin;
    bottom: auto;
    left: 1vmin;
    display: block;
}
.restart-button:hover {
    border-bottom-width: 2px;
}
.restart-button:active {
    border-bottom-width: 0;
}
.modal {
}
.options-button {
    width: 5vmin;
    height: 5vmin;
    text-align: center;
    line-height: 5vmin;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 1vmin;
    right: 1vmin;
    top: auto;
    display: block;
}
.options-button:hover {
    border-bottom-width: 2px;
}
.options-button:active {
    border-bottom-width: 0;
}
.options-close {
    position: absolute;
    top: 5vmin;
    display: block;
}
.options-close:hover {
    transform: translateY(4px);
}

.modal--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #282228;
    opacity: 1;
    margin: 7.5vmin;
    border-radius: 8px;
    padding: 5vmin;
    padding-top: 20vmin;
    line-height: 1.6;
}

.canvas--scanlines {
    overflow: hidden;
    position: absolute;
    z-index: 900;
    background-color: transparent;
}
.canvas--scanlines::after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25) 2px,
        rgba(255, 0, 0, 0) 2px,
        rgba(255, 0, 0, 0) 4px
    );
    z-index: 999999999;
    mix-blend-mode: overlay;
}
.canvas--scanlines::before {
    opacity: 0.25;
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% / 6);
    transform: translateY(-100%);
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    background: repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 15%,
        rgba(255, 255, 255, 0.5) 15%,
        rgba(255, 255, 255, 0.5) 75%,
        rgba(255, 255, 255, 0) 75%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: scan-line 18s -16s infinite linear;
    filter: blur(1.5px);
}
@keyframes scan-line {
    to {
        top: 100%;
        transform: translateY(0);
    }
}
