.title--container {
    cursor: pointer;
    padding: 0;
}

.title--container__hide {
    pointer-events: none;
    animation: title-hide 1s 500ms steps(4, end) forwards;
}

.title--graphic {
    width: 100%;
    height: auto;
}

@keyframes title-hide {
    to {
        opacity: 0;
    }
}
