.audio--button {
    position: relative;
    display: inline-block;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem;
    cursor: pointer;
    color: black;
}
.audio--button::after {
    content: attr(data-src);
}
.audio--button::before {
    content: '▶️';
}

.audio--button__active {
    background-color: #ffffff;
}
.audio--button__active::before {
    content: '🛑';
}
